<div class = " center jumbotron">
<% unless signed_in? %>
<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in", class: "btn btn-md btn-primary" %>

<h3>OR</h3>

<%= link_to "Create Account", new_user_path, class: "btn btn-lg btn-primary" %>

<% end %>

<% else %>
<h3> Welcome back! </h3>
<% end %>
</div>
