<!DOCTYPE HTML>
<html>
<%- model_class = Candidate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="container">
<div class="row row-centered">
<div class="fieldset">
  <dl>
      <div class="col-xs-4 col-centered col-fixed"><div class="item"><div class="content">
	  <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.full_name %></pre></dd>
      
      <dt class="label label-default"><%= model_class.human_attribute_name(:email) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.email %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:phone) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.phone %></pre></dd>
      </div></div></div>
	  
	  <div class="col-xs-4 col-centered col-fixed"><div class="item"><div class="content">
	  <dt class="label label-default"><%= model_class.human_attribute_name(:role) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.role %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:city) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.city %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:technology) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.technology %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:company_id) %></dt>
      <dd><pre class="prettyprint"><%= @candidate.company.name %></pre></dd>
      </div></div></div>
	  
	  <div class="col-xs-4 col-centered col-fixed"><div class="item"><div class="content">
	  <dt class="label label-default"><%= model_class.human_attribute_name(:CV) %></dt>
      <dd><pre class="prettyprint"><%= link_to "Download", @candidate.attachment_url, class: "btn btn-md btn-primary" %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:linkedin) %></dt>
      <dd><pre class="prettyprint"><%= link_to image_tag('linkedin.jpg'), @candidate.linkedin %><%= link_to "Linkedin", @candidate.linkedin, class: "btn btn-md btn-primary" %></pre></dd>
	  </div></div></div>
  </dl>
</div>
</div>


<div class="container">
<h3>Manage placement processes</h3>
	<%= form_for([@candidate, Placementprocess.new]) do |f| %>
		<table class="table">
			<thead>
				<tr>
					<th><%= f.label :position, :class => 'control-label col-md-2' %></th>
					<th><%= f.label :company, :class => 'control-label col-md-2' %></th>
					<th><%= f.label :presented_on, :class => 'control-label col-md-2' %></th>
					<th><%= f.label :status, :class => 'control-label col-md-2' %></th>
					<th><%= f.label :action, :class => 'control-label col-md-2' %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><%= f.text_field :position %></th>
					<th><%= f.collection_select :company_id, Company.all, :id, :name %></th>
					<th><%= f.text_field :presenteddate, :class => 'datepicker' %></th>
					<th>Active: <%= f.check_box :active, {checked: true} %></th>
					<th><div class="actions"><%= f.submit "Start", class: "btn btn-md btn-primary"%></div></th>
				</tr>
				<% @candidate.placementprocesses.each do |p| %>
					<tr>
						<td><%= p.position %></td>
						<td><%= p.company.name %></td>
						<td><%= p.presenteddate %></td>
						<td><%= p.active %></td>
						<td><%= link_to t('.edit', :default => t("helpers.links.edit")), edit_placementprocess_path(p), :class => 'btn btn-xs btn-default' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>		
			
	<% end %>
</div>

<div class="container">
<h3>Leave a comment</h3>
	<%= form_for([@candidate, Comment.new]) do |f| %>
		<%= f.text_area :content, :rows => 5, :placeholder => "Insert a comment...", :width => 300 %>
			<div class="actions">
			<%= f.submit "Post", class: "btn btn-md btn-primary"%>
			</div>
	<% end %>
</div>
	
<hr>
<% if @candidate.comments.empty? %>
	<p>No comments.</p>
<% else %>	
	<h3>Comments:</h3>
	<% @candidate.comments.reverse.each do |c| %>
			<h2><%= c.content%></h2> <br> <%= c.user.email %> <br> <%= time_ago_in_words(c.created_at) %> ago
			<hr>
	<% end %>
<% end %>
<br>

</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              candidates_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_candidate_path(@candidate), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              candidate_path(@candidate),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</html>